main {
    max-width: 1200px;
    margin: 0 auto;
}

main section {
    padding: 0.5rem;
}

.habilidades {
    /* background-color: var(--background-color-purple); */
    background: var(--background-color-black);

    background: linear-gradient(270deg, var(--background-color-black) 0%, var(--background-color-purple) 50%, var(--background-color-blue) 100%);

    background: -moz-linear-gradient(270deg, var(--background-color-black) 0%, var(--background-color-purple) 50%, var(--background-color-blue) 100%);

    background: -webkit-linear-gradient(270deg, var(--background-color-black) 0%, var(--background-color-purple) 50%, var(--background-color-blue) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#7B68EE", GradientType=1);

    /* background: hsla(0, 0%, 20%, 1);

    background: linear-gradient(270deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 20%, 1) 0%, hsla(249, 80%, 67%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 20%, 1) 0%, hsla(249, 80%, 67%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 20%, 1) 0%, hsla(249, 80%, 67%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#333333", GradientType=1); */
}

.habilidade-title {
    background: var(--background-color-purple);

    background: linear-gradient(0deg, var(--background-color-black) 0%, var(--background-color-purple) 100%);

    background: -moz-linear-gradient(0deg, var(--background-color-black) 0%, var(--background-color-purple) 100%);

    background: -webkit-linear-gradient(0deg, var(--background-color-black) 0%, var(--background-color-purple) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#7B68EE", GradientType=1);

    border-radius: 0 10px 20px 0px;
    padding: 5px;
}

.habilidade-detalhes {
    display: flex;
    align-items: stretch;
    justify-content: center;
    /* gap: 1rem; */
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    /* border: 1px dashed #ccc; */
    /* Apenas para visualização */
}

/* Estilo para as divs filhas */
.detalhe-img,
.container-detalhe-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    min-width: 0;
    /* Importante para permitir que as divs encolham abaixo da largura do conteúdo */
    box-sizing: border-box;
}

.aligin-items-start {
    align-items: start;
}

.aligin-items-end {
    align-items: end;
}

.detalhe-separador-vertical {
    width: 2px;
    /* height: 90%;
    min-height: 100px; */
    align-items: stretch;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--background-color-black) 50%, rgba(0, 0, 0, 0) 100%);
    margin: 0 1rem;
    border-radius: 1px;
}

.detalhe-separador-horizontal {
    height: 2px;
    min-height: 2px;
    margin: 1rem auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--background-color-black) 50%, rgba(0, 0, 0, 0) 100%);
    border-radius: 1px;
}

/* Estilo para centralizar a imagem */
.detalhe-img {
    flex: 0.5;
    text-align: center;
    /* border: 1px solid #eee; */
    /* Apenas para visualização */
}

.detalhe-img img {
    width: 100px;
}

/* Estilo para o texto */
.container-detalhe-texto {
    text-align: left;
    /* border: 1px solid #eee; */
    /* Apenas para visualização */
}

/* Estilo para o título */
.detalhe-title {
    margin-top: 0;
}

/* Estilo para o texto */
.detalhe-text {
    margin: 10px 0;
    line-height: 1.5;
}

.sobre {
    background: var(--background-color-blue);

    background: linear-gradient(270deg, var(--background-color-blue) 0%, var(--background-color-purple) 100%);

    background: -moz-linear-gradient(270deg, var(--background-color-blue) 0%, var(--background-color-purple) 100%);

    background: -webkit-linear-gradient(270deg, var(--background-color-blue) 0%, var(--background-color-purple) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#7B68EE", GradientType=1);
}

.container-sobre {
    padding: 1rem;
}

.container-sobre-detalhe {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.imagem-esquerda p.sobre-text {
    text-align: left;
}

.imagem-direita p.sobre-text {
    text-align: right;
}

.imagem-esquerda .sobre-imagem {
    text-align: right;
}

.imagem-direita .sobre-imagem {
    text-align: left;
}

p.sobre-text {
    text-indent: 1rem;
}

.sobre-imagem img {
    width: 100px;
}

.sobre-imagem,
.container-sobre-texto {
    flex: 1;
}

.contato {
    background: var(--background-color-purple);

    background: linear-gradient(270deg, var(--background-color-purple) 0%, var(--background-color-black) 100%);

    background: -moz-linear-gradient(270deg, var(--background-color-purple) 0%, var(--background-color-black) 100%);

    background: -webkit-linear-gradient(270deg, var(--background-color-purple) 0%, var(--background-color-black) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#7B68EE", GradientType=1);
}

.container-contato {
    padding: 1rem;
}

.form-contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-contato input,
.form-contato textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
    display: block;
    font-family: var(--text-label);
    color: var(--text-color-black);
    background: #dbd8ea;
}

.form-contato label {
    margin-bottom: 0.5rem;
}

.form-contato textarea {
    min-height: 13rem;
    resize: vertical;
}

.form-contato input:hover,
.form-contato input:focus,
.form-contato textarea:hover,
.form-contato textarea:focus {
    outline: none;
    border-color: var(--background-color-blue);
    box-shadow: 0 0 0 3px var(--background-color-purple);
}

.form-contato button {
    display: block;
    padding: 1rem;
    background: linear-gradient(180deg, var(--background-color-purple) 0%, var(--background-color-black) 100%);
    color: var(--text-color);
    font-family: var(--text-label);
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 900;
}

.form-contato button:hover,
.form-contato button:focus {
    outline: none;
    background: linear-gradient(180deg, var(--background-color-blue) 0%, var(--background-color-black) 100%);
}

@media(max-width: 768px) {
    .habilidade-detalhes {
        flex-direction: column;
    }

    .container-sobre-detalhe {
        flex-direction: column;
    }

    .imagem-esquerda p.sobre-text,
    .imagem-direita p.sobre-text {
        text-align: justify;
    }

    .detalhe-img,
    .container- {
        width: 100%;
        align-items: center;
    }

    .detalhe-separador-vertical {
        width: 90% !important;
        height: 2px !important;
        min-height: 2px !important;
        margin: 1rem auto !important;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--background-color-black) 50%, rgba(0, 0, 0, 0) 100%);

    }

    .nav-container {
        justify-content: center;
    }

}