:root {
    --text-color: #333333;
    --background-color: #f4f4f4;
    --text-p: Roboto, sans-serif;
    --text-h1: 'Comic Relief', cursive;
    --boder-color: #3333333d;
}

html {
    background-color: var(--background-color);
}

body {
    margin: 0;
    padding: 1rem;
    background-color: var(--background-color);

}

/* body>* {
    margin: 1rem;
} */

p {
    font-family: var(--text-p);
    color: var(--text-color);
    font-size: 1rem;
}

h1,
h2,
h3 {
    font-family: var(--text-h1);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

footer {
    background-color: tomato;
}

@media(max-width: 768px) {
    header {
        display: block;
    }

    /* 
    .nav-container {
        justify-content: center;
    }

    .habilidade-detalhes {
        flex-direction: column;
    }

    .detalhe-img,
    .detalhe-texto {
        width: 100%;
    } */
}