:root {
    --text-color-black: #333333;
    --text-color-white: #f4f4f4;
    --text-color-purple: #7b68ee;
    --background-color-white: #f4f4f4;
    --text-p: Roboto, sans-serif;
    --text-label: Roboto, sans-serif;
    --text-h1: 'Comic Relief', cursive;
    --boder-color: #3333333d;
    --background-color-black: #333333;
    --background-color-black-op99: #333333fc;
}

html {
    background-color: var(--background-color-white);
}

body {
    margin: 0;
    padding: 1rem;
    background-color: var(--background-color-white);
    padding-top: 90px;
}

/* body>* {
    margin: 1rem;
} */

p {
    font-family: var(--text-p);
    color: var(--text-color-white);
    font-size: 1rem;
}

h1,
h2,
h3 {
    font-family: var(--text-h1);
    color: var(--text-color-white);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

label {
    font-family: var(--text-label);
    color: var(--text-color-black);
    font-size: 1rem;
    line-height: 1;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.container-logo-vertical {
    display: flex;
    flex-direction: column;
}

.container-logo-horizontal {}

.logo-matheus {
    font-family: var(--text-p);
    font-weight: 700;
}

.color-white {
    color: var(--text-color-white);
}

.color-baclack {
    color: var(--text-color-black);
}

.color-purple {
    color: var(--text-color-purple);
}

.logo-dev {
    color: var(--text-color-purple);
    font-family: var(--text-p);
    font-weight: 700;
}

/* Para mostrar o botão voltar ao topo */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0066cc;
    color: var(--text-color-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.back-to-top.show {
    display: block;
    opacity: 1;
}

@media(max-width: 768px) {
    body {
        padding-top: 120px;
    }

    /* 
    .nav-container {
        justify-content: center;
    }

    .habilidade-detalhes {
        flex-direction: column;
    }

    .detalhe-img,
    .detalhe-texto {
        width: 100%;
    } */
}